@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url("https://use.typekit.net/izp1xbh.css");

* { box-sizing: border-box; }

html, body, ul, li, p {
	margin: 0;
	padding: 0;
}

body {
	font-family: myriad-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Raleway;
}

h1 > a {
	text-decoration: none;
	color: black;
}

.hero-image1 {
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/churchill-house-13.jpg");
	height: 20em;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero-image2 {
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/churchill-house-14.jpg");
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 20em;
}

.hero-image3 {
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/churchill-house-15.jpg");
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 20em;
}

.hero-image4 {
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/churchill-house-1.jpg");
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 20em;
}

.hero-image5 {
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/churchill-house-16.jpg");
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 20em;
}

.hero-image6 {
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/churchill-house-11.jpg");
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 20em;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 100%;
}

@media (min-width: 1777px) {
	.hero-image1 {
		padding: 15%;
	}
}

.hero-text > h1 {
	text-transform: uppercase;
	font-size: 2em;
}

.hero-text > p {
	font-size: 1em;
	padding-bottom: 0.5em;
}

.header-container {
	padding: 2em;
}

.header-container > h1 {
	display: inline;
	text-transform: uppercase;
}

.main-menu {
	float: right;
}

.main-menu > ul {
	list-style: none;
	font-size: 24px;
	font-family: Raleway;
}

.main-menu > ul > li {
	display: inline;
  	text-align: center;
  	margin: 0 auto;
  	padding: 20px;
  	text-transform: uppercase;
}

.main-menu > ul > li > a#currentpage {
	border: 0.2em solid black;
	border-radius: 0.2em;
	background-color: black;
	color: white;
}

.main-menu > ul > li > a#currentpage:hover {
	color: blue;
}

.links {
	text-decoration: none;
	color: black;
}

.links:hover {
	color: blue;
}

main {
	width: 100%;
	height: 100%;
	overflow: auto;
	margin: 0 auto;
	padding-bottom: 5em;
	text-align: center;
}

.text-container {
	width: 70%;
	margin: 0 auto;
	text-align: center;
	padding-top: 1.5em;
  padding-bottom: 2.5em;
  border-bottom: grey solid;
}

.text-container > p {
  padding-top: 1em;
  padding-bottom: 1em;
}

.text-container > ul {
  list-style-position: inside;
  list-style-type: none;
}

.text-container > ul > li {
  text-indent: -5px;
}

.text-container > ul > li:before {
  content: "-";
  padding-right: 5px;
}

footer {
	position: relative;
	background-color: grey;
	padding-top: 5em;
	padding-bottom: 5em;
}

footer > p {
	text-align: center;
	color: white;
	font-size: 0.5em;
}

footer > nav {
	text-align: center;
	padding-bottom: 1.5em;
}

footer > nav > ul {
	list-style: none;
	font-size: 0.5em;
	font-family: Raleway;
}

footer > nav > ul > li {
	display: inline;
  	text-align: center;
  	margin: 0 auto;
  	padding: 20px;
  	text-transform: uppercase;
}

.footer-links {
	text-decoration: none;
	color: white;
}

.footer-links:hover {
	color: blue;
}

/* Hamburger icon CSS code by Mark Caron at https://medium.com/@heyoka/responsive-pure-css-off-canvas-hamburger-menu-aebc8d11d793 */

/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Button styling */
.menu-toggle {
  display: inline-block;
  float: left;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #333;
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  height: 100%;
  transition: left 0.3s ease,
      box-shadow 0.3s ease;
  z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
     -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
          box-shadow: -8px 0 8px rgba(0,0,0,.5);
  min-height: 100%;
  width: 200px;
  background: #1a1a1a;
}

.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #383838;
}

.main-menu li:first-child a {
  border-top: 1px solid #383838;
}

.main-menu a:hover,
.main-menu a:focus {
  background: #333;
  text-decoration: none;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}


/*
 More to come here...
*/


/*
 Demo purposes only
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

.logo {
  margin: 0 30px 0 10px;
  font-size: 1.5em;
}

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/* 
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  position: absolute;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop{
    position: fixed;
  }
}

/*
 Larger screen styling
 Horizontal menu
*/
@media (min-width: 1777px) {
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }
  
  /* Undo positioning of off-canvas menu */
  .main-menu {
    position: relative;
    float: right;
    left: 0;
    display: block;
    top:-25px;
  }
  
  .main-menu ul {
    display: flex;
    
    /* Undo off-canvas styling */
    padding: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    width: auto;
    background: none;
  }
  
  .main-menu a {
    color: black;
    border: 0 !important; /* Remove borders from off-canvas styling */
  }
  
  .main-menu a:hover,
  .main-menu a:focus {
    background: none; /* Remove background from off-canvas styling */
    color: blue;
  }

  .header-container h1 {
    text-align: left;
    display: inline;
  }

  .links:hover {
  color: blue;
  }

  .main-menu > ul > li > a#currentpage:hover {
  color: blue;
  }
}